<% title "Сторінки" %>

<div class="well"><%= link_to "Додати сторінку", new_admin_page_path, :class => :btn %></div>

<table class="table">
  <thead>
  <tr>
    <th>Назва</th>
  </tr>
  </thead>
  <tbody>
  <% for page in @pages %>
    <tr>
      <td><%= page.title %></td>
      <td style="text-align: right;">
        <%= link_to edit_admin_page_path(page), :class => "btn btn-small btn-primary" do %>
          <i class="icon-pencil icon-white"></i> <%= t(:edit) %>
        <% end %>
        <%= link_to admin_page_path(page), :confirm => t("messages.confirmation"), :method => :delete, :class => "btn btn-small btn-danger" do %>
          <i class="icon-trash icon-white"></i> <%= t(:destroy) %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>