<% title Item.model_name.human %>

<table class="table">
  <thead>
  <tr>
    <th><%= t(Item.human_attribute_name(:name)) %></th>
    <th><%= t(Item.human_attribute_name(:description)) %></th>
    <th><%= t(Item.human_attribute_name(:price)) %></th>
  </tr>
  </thead>
  <tbody>
  <% for item in @items %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.price %></td>
      <td><%= link_to t(:show), item %></td>
      <td><%= link_to t(:edit), edit_admin_item_path(item) %></td>
      <td><%= link_to t(:destroy), admin_item_path(item), :confirm => t("messages.confirmation"), :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to "Додати товар", new_admin_item_path %></p>
