<% title Item.model_name.human %>

<div class="well"><%= link_to "Додати товар", new_admin_item_path, :class => :btn %></div>

<table class="table">
  <thead>
  <tr>
    <th></th>
    <th><%= t(Item.human_attribute_name(:name)) %></th>
    <th><%= t(Item.human_attribute_name(:price)) %></th>
  </tr>
  </thead>
  <tbody>
  <% for item in @items %>
    <tr>
      <td><%= link_to image_tag(item.assets.first.asset.url(:thumb)), item %></td>
      <td><%= item.name %></td>
      <td><%= number_to_currency(item.price) %></td>
      <td><%= link_to t(:show), item %></td>
      <td><%= link_to t(:edit), edit_admin_item_path(item) %></td>
      <td><%= link_to t(:destroy), admin_item_path(item), :confirm => t("messages.confirmation"), :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>


