<ul class="breadcrumb clearfix">
  <%= content_tag :li do %>
    <%= link_to("Головна", root_path) %>
    <span class="divider">/</span>
  <% end %>
  <%= content_tag :li do %>
    <%= link_to("Крамничка", categories_path) %>
    <span class="divider">/</span>
  <% end %>
  <%= content_tag :li do %>
    <%= link_to(@order.item.category.name, @order.item.category) %>
    <span class="divider">/</span>
  <% end %>
  <%= content_tag :li do %>
    <%= link_to(@order.item.name, @order.item) %>
    <span class="divider">/</span>
  <% end %>
  <%= content_tag :li, "Замовлення", :class => :active %>
</ul>

<% title 'Замовлення прикраси' %>
<h1><%= yield(:title) %></h1>

<div class="thumb pull-right ">
  <%= image_tag(@order.item.assets.first.asset.url(:medium)) %>
  <div class="title"><%= link_to @order.item.name, @order.item %></div>
  <div class="price"><%= number_to_currency(@order.item.price) %></div>
</div>

<div class="pull-left">
  <%= simple_form_for @order, :url => item_orders_path, :method => :post, :html => { :class => 'form-horizontal' } do |f| %>
    <% if notification = f.error_notification %>
      <div class="alert alert-error fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= notification %>
      </div>
    <% end %>

    <%= f.input :first_name, :input_html => { :class => :span4 } %>
    <%= f.input :last_name, :input_html => { :class => :span4 } %>
    <%= f.input :city, :input_html => { :class => :span4 } %>
    <%= f.input :email, :input_html => { :class => :span4 } %>
    <%= f.input :phone, :input_html => { :class => :span4 } %>
    <%= f.input :comments, :input_html => { :class => :span4 } %>

    <div class="form-actions">
      <%= f.submit "Надіслати замовлення", :class => :btn %>
    </div>
  <% end %>
</div>