<% title @page.title %>

<ul class="breadcrumb clearfix">
  <%= content_tag :li do %>
    <%= link_to("Головна", root_path) %>
    <span class="divider">/</span>
  <% end %>
  <%= content_tag :li, @page.title, :class => :active %>
</ul>

<h2><%= @page.title %></h2>
<p>
<%= @page.content.html_safe %>
</p>

