<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h2>Нове повідомлення з <%= root_url %></h2>

<p><b>Від:</b> <%= @message.name %> <<%= @message.email %>></p>

<p><b>Тема:</b> <%= @message.subject %></p>

<p><b>Текст повідомлення:</b> <%= @message.body %></p>
</body>
</html>