<%= simple_form_for [:admin, @category], :html => { :class => 'form-horizontal' } do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>
  <legend><%= yield(:title) %></legend>

  <%= f.input :name %>
  <%= f.association :cover, :collection => @category.items, :required => true unless @category.items.empty? %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>