<%= simple_nested_form_for [:admin, @product], :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.error_notification %>
    </div>
  <% end %>
  <legend><%= yield(:title) %></legend>
  <%= f.input :name, :input_html => { :class => "span8" } %>
  <%= f.input :description, :input_html => { :class => "span8 wysihtml5" } %>
  <%= f.input :price, :label => t('activerecord.attributes.product.price'), :input_html => { :class => "span8" } %>
  <%= f.association :category, :input_html => { :class => 'span8' } %>

  <div class="control-group">
    <div class="controls">
      <%= f.simple_fields_for :images do |image_form| %>
        <% unless image_form.object.new_record? %>
          <div class="pull-left" style="padding-right: 5px;">
            <%= image_tag(image_form.object.image.url(:thumb)) if image_form.object.image? %>
            <p><br/><%= image_form.check_box :_destroy %>
              </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <legend><%= t '.upload_photo' %></legend>
  <% f.simple_fields_for :images %>
  <p><%= f.link_to_add t('.add_photo'), :images, :class => "btn" %></p>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag t('.cancel'), :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>
