<% title @category.name %>

<ul class="breadcrumb">
  <%= content_tag :li do %>
    <%= link_to("Головна", root_path) %>
    <span class="divider">/</span>
  <% end %>
  <%= content_tag :li do %>
    <%= link_to("Крамничка", categories_path) %>
    <span class="divider">/</span>
  <% end %>
  <%= content_tag :li, @category.name, :class => :active %>
</ul>

<h1><%= @category.name %></h1>
<div>
  <%= render @category.items %>
</div>


