<%= content_for :fb_init do %>
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=532702436746525";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>
  <script>!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, "script", "twitter-wjs");</script>
<% end %>

<% title @product.name %>

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <% @product.images.each_with_index do |image, index| %>
        <li data-target="#myCarousel" data-slide-to="<%= "#{index}" %>" class="<% if index == 0 %>active<% end %>"></li>
    <% end %>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% @product.images.each_with_index do |image, index| %>
    <div class="large-image thumb item <% if index == 0 %>active<% end %>">
      <%= image_tag(image.image.url(:large)) %>
    </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div id="thumbs" class="pull-right hide">
  <ul class="unstyled">
  </ul>
</div>
<div class="item-details pull-left clearfix">
  <h1 class="title  pull-left"><%= @product.name %></h1>

  <div class="social-buttons pull-right">
    <div class="pull-left">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= URI::encode(product_url(@product)) %>" data-via="paciorky" data-count="horizontal" data-lang="en">Tweet</a>
    </div>
    <div class="fb-like pull-left" style="margin-right:21px;" data-href="<%= product_url(@product) %>" data-layout="button_count" data-width="250" data-show-faces="false"></div>
    <div class="pull-left">
      <a href="http://pinterest.com/pin/create/button/?url=<%= URI::encode(product_url(@product)) %>&media=<%= URI::encode(product_url(@product.cover_image_url(:large))) %>&description=<%= URI::encode(strip_tags(@product.description).split(/\s+/, 50+1)[0...50].join(' ')) %>" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It"/></a>
    </div>
  </div>

  <div class="price"><%= number_to_currency(@product.price) %></div>
  <%= link_to 'Придбати', new_product_order_path(@product), :class => 'btn btn-buy' %>

  <div class="description">
    <%= raw @product.description %>
  </div>


</div>

