<ul class="menu nav nav-pills">
  <%= content_tag :li, link_to("Крамничка", categories_path), :class => "#{active_link_class('category')} #{active_link_class('item')}" %>
  <li><%= link_to "Галерея", root_path %></li>
  <li><%= link_to "Оплата і доставка", root_path %></li>
  <li><%= link_to "Про автора", root_path %></li>
  <li><%= link_to "Контакти", root_path %></li>
</ul>