<ul class="nav nav-pills">
  <li><%= link_to "Крамничка", categories_path %></li>
  <li><%= link_to "Галерея", root_path %></li>
  <li><%= link_to "Оплата і доставка", root_path %></li>
  <li><%= link_to "Про автора", root_path %></li>
  <li><%= link_to "Контакти", root_path %></li>
</ul>