<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= content_for?(:title) ? yield(:title) + ' - Творча майстерня "Пацьорки"' : 'Творча майстерня "Пацьорки"' %></title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|PT+Serif+Caption&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
<%= yield(:fb_init) %>
<header>
  <div class="container">
    <div  class="pull-left logo">
      <%= link_to image_tag("paciorky_logo_copy.png", :alt => "Головна"), root_path, :title => "Головна" %>
    </div>
    <div class="pull-right">
        <%= render 'layouts/navigation' %>
    </div>

  </div>
</header>
<div class="wrapper">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>

    </div>
  </div>
  <div class="push"><!--//--></div>
  <!--! end of .container -->
</div>
<footer>
    <div class="container">
        <%= render 'layouts/navigation' %>
        <div>Всі права застережено</div>
    </div>
</footer>

<!--! end of #main -->
</body>
</html>